body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("https://wallpaperaccess.com/full/1225884.jpg");
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

main {
    flex-grow: 1;
}

.bg-fun {
    background-color: #F8E16C;
}